In [363]:
# Dependencies and Setup
import pandas as pd

In [364]:
# Files to Load 
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

In [365]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load,index_col="school_name")
student_data = pd.read_csv(student_data_to_load)

In [366]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [367]:
school_data_complete=school_data_complete.sort_values(by="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
19584,19584,Tammie Fox,F,11th,Bailey High School,82,92,7,District,4976,3124928
21193,21193,Jennifer Murray,F,9th,Bailey High School,88,89,7,District,4976,3124928
21192,21192,Lisa Pineda,F,9th,Bailey High School,86,67,7,District,4976,3124928
21191,21191,Cameron Miller,M,11th,Bailey High School,70,75,7,District,4976,3124928
21190,21190,Thomas Rasmussen,M,12th,Bailey High School,77,82,7,District,4976,3124928

In [368]:
#Check to see if there are any missing values by displaying True or False
school_data_complete.isna()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
19584,False,False,False,False,False,False,False,False,False,False,False
21193,False,False,False,False,False,False,False,False,False,False,False
21192,False,False,False,False,False,False,False,False,False,False,False
21191,False,False,False,False,False,False,False,False,False,False,False
21190,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
24829,False,False,False,False,False,False,False,False,False,False,False
24828,False,False,False,False,False,False,False,False,False,False,False
24827,False,False,False,False,False,False,False,False,False,False,False
24797,False,False,False,False,False,False,False,False,False,False,False
26035,False,False,False,False,False,False,False,False,False,False,False

In [369]:
#Get all school names 
school_names=school_data_complete["school_name"].unique()

In [370]:
#Calculate the number of schools   
total_number_of_schools=len(school_names)
print(total_number_of_schools)

15

In [371]:
#Calculate the number of students 
total_number_of_students=school_data_complete["student_name"].count()
print(total_number_of_students)

39170

In [372]:
#Calculate total budget
filter_school_df=school_data_complete.drop_duplicates(subset='school_name')
total_budget=filter_school_df["budget"].sum()
print(total_budget)

24649428

In [373]:
#Get statistics of the data frame 
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [374]:
#Calculate average math score 
average_math_score=school_data_complete["math_score"].mean()
print(average_math_score)

78.98537145774827

In [375]:
#Calculate average reading score 
average_reading_score=school_data_complete["reading_score"].mean() 
print(average_reading_score)

81.87784018381414

In [376]:
#Calculate number of students with passing math score 
names_math=school_data_complete[(school_data_complete['math_score']>=70)]
number_of_students_with_passing_math_score=len(names_math)
print(number_of_students_with_passing_math_score)

29370

In [377]:
#Calculate percentage of students with passing math score
percent_math_70_or_greater=number_of_students_with_passing_math_score/total_number_of_students*100
print(percent_math_70_or_greater)

74.9808526933878

In [378]:
#Calculate number of students with passing reading score 
names_reading=school_data_complete[(school_data_complete['reading_score']>=70)]
number_of_students_with_passing_reading_score=len(names_reading) 
print(number_of_students_with_passing_reading_score)

33610

In [379]:
#Calculate percentage of students with passing reading score
percent_reading_70_or_greater=number_of_students_with_passing_reading_score/total_number_of_students*100 
print(percent_reading_70_or_greater)

85.80546336482001

In [380]:
#Get the names of students with passing math AND reading
names_math_and_reading=school_data_complete[(school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70)]
names_math_and_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
19584,19584,Tammie Fox,F,11th,Bailey High School,82,92,7,District,4976,3124928
21193,21193,Jennifer Murray,F,9th,Bailey High School,88,89,7,District,4976,3124928
21191,21191,Cameron Miller,M,11th,Bailey High School,70,75,7,District,4976,3124928
21190,21190,Thomas Rasmussen,M,12th,Bailey High School,77,82,7,District,4976,3124928
21189,21189,Jennifer Miller,F,11th,Bailey High School,95,83,7,District,4976,3124928

In [381]:
#Calculate the number of students with passing math AND reading
number_math_and_reading=len(names_math_and_reading)
print(number_math_and_reading)

25528

In [382]:
#Calculate the percentage of students passing math AND reading  
percent_math_and_reading=number_math_and_reading/total_number_of_students*100
print(percent_math_and_reading)

65.17232575950983

In [383]:
#Create a data frame to hold districy summary details
district_summary_df=pd.DataFrame({"Total Schools":total_number_of_schools,                                 
                                  "Total Students":total_number_of_students,
                                  "Total Budget": total_budget,
                                  "Average Math Score": average_math_score,
                                  "Average Reading Score": average_reading_score,
                                  "% Passing Math": percent_math_70_or_greater,
                                  "% Passing Reading": percent_reading_70_or_greater,
                                  "% Overall Passing": percent_math_and_reading},index=[0])    
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [384]:
school_type=school_data_complete.groupby(by=["school_name"])["type"].max()
print(school_type)

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [385]:
#Calculate average math score for each school
average_school_math=school_data_complete.groupby(by=["school_name"])["math_score"].mean()
print(average_school_math)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [386]:
#Calculate average reading score for each school
average_school_reading=school_data_complete.groupby(by=["school_name"])["reading_score"].mean()
print(average_school_reading)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [387]:
math_score_school_wise_70_above=school_data_complete[(school_data_complete['math_score']>=70) & ((school_data_complete['school_name']=='Bailey High School')|(school_data_complete['school_name']=='Cabrera High School')|(school_data_complete['school_name']=='Figueroa High School')|(school_data_complete['school_name']=='Ford High School')|(school_data_complete['school_name']=='Griffin High School')|(school_data_complete['school_name']=='Hernandez High School')|(school_data_complete['school_name']=='Holden High School')|(school_data_complete['school_name']=='Huang High School')|(school_data_complete['school_name']=='Johnson High School')|(school_data_complete['school_name']=='Pena High School')|(school_data_complete['school_name']=='Rodriguez High School')|(school_data_complete['school_name']=='Shelton High School')|(school_data_complete['school_name']=='Thomas High School')|(school_data_complete['school_name']=='Wilson High School')|(school_data_complete['school_name']=='Wright High School'))]                            
                         
math_passing_students = math_score_school_wise_70_above.groupby(by=["school_name"]).count()
math_passing_students1=math_passing_students[['math_score']]
print(math_passing_students1)

                       math_score
school_name
Bailey High School           3318
Cabrera High School          1749
Figueroa High School         1946
Ford High School             1871
Griffin High School          1371
Hernandez High School        3094
Holden High School            395
Huang High School            1916
Johnson High School          3145
Pena High School              910
Rodriguez High School        2654
Shelton High School          1653
Thomas High School           1525
Wilson High School           2143
Wright High School           1680

In [388]:
reading_score_school_wise_70_above=school_data_complete[(school_data_complete['reading_score']>=70) & ((school_data_complete['school_name']=='Bailey High School')|(school_data_complete['school_name']=='Cabrera High School')|(school_data_complete['school_name']=='Figueroa High School')|(school_data_complete['school_name']=='Ford High School')|(school_data_complete['school_name']=='Griffin High School')|(school_data_complete['school_name']=='Hernandez High School')|(school_data_complete['school_name']=='Holden High School')|(school_data_complete['school_name']=='Huang High School')|(school_data_complete['school_name']=='Johnson High School')|(school_data_complete['school_name']=='Pena High School')|(school_data_complete['school_name']=='Rodriguez High School')|(school_data_complete['school_name']=='Shelton High School')|(school_data_complete['school_name']=='Thomas High School')|(school_data_complete['school_name']=='Wilson High School')|(school_data_complete['school_name']=='Wright High School'))]
reading_passing_students = reading_score_school_wise_70_above.groupby(by=["school_name"]).count()
reading_passing_students1=reading_passing_students[['reading_score']]
print(reading_passing_students1)

                       reading_score
school_name
Bailey High School              4077
Cabrera High School             1803
Figueroa High School            2381
Ford High School                2172
Griffin High School             1426
Hernandez High School           3748
Holden High School               411
Huang High School               2372
Johnson High School             3867
Pena High School                 923
Rodriguez High School           3208
Shelton High School             1688
Thomas High School              1591
Wilson High School              2204
Wright High School              1739

In [389]:
math_and_reading_pass_students=names_math_and_reading['school_name'].value_counts()
print(math_and_reading_pass_students)

Bailey High School       2719
Johnson High School      2549
Hernandez High School    2481
Rodriguez High School    2119
Wilson High School       2068
Cabrera High School      1697
Wright High School       1626
Shelton High School      1583
Figueroa High School     1569
Huang High School        1561
Thomas High School       1487
Ford High School         1487
Griffin High School      1330
Pena High School          871
Holden High School        381
Name: school_name, dtype: int64

In [390]:
school_capacity=school_data_complete.groupby(by=["school_name"])["size"].max()
print(school_capacity)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [391]:
total_school_budget=school_data_complete.groupby(by=['school_name'])['budget'].max()
print(total_school_budget)

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [392]:
per_student_budget=total_school_budget/school_capacity
print(per_student_budget)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [393]:
school_summary_df=pd.DataFrame({"School Type": school_type,
                                "Total Students": school_capacity,
                                "Total School Budget": total_school_budget,
                                "Per Student Budget":per_student_budget,
                                "Average Math Score": average_school_math, 
                                "Average Reading Score":average_school_reading,},
                               index=['Bailey High School','Cabrera High School','Figueroa High School','Ford High School','Griffin High School','Hernandez High School','Holden High School','Huang High School','Johnson High School','Pena High School','Rodriguez High School','Shelton High School','Thomas High School','Wilson High School','Wright High School'])  
school_summary_df['math pass']=math_passing_students1
school_summary_df['reading pass']=reading_passing_students1
percent_math_pass=school_summary_df['math pass']/school_summary_df['Total Students']*100
school_summary_df['% Passing Math']=percent_math_pass
percent_reading_pass=school_summary_df['reading pass']/school_summary_df['Total Students']*100
school_summary_df['% Passing Reading']=percent_reading_pass
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,math pass,reading pass,% Passing Math,% Passing Reading
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,3318,4077,66.680064,81.933280
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1749,1803,94.133477,97.039828
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,1946,2381,65.988471,80.739234
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,1871,2172,68.309602,79.299014
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1371,1426,93.392371,97.138965
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,3094,3748,66.752967,80.862999
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,395,411,92.505855,96.252927
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,1916,2372,65.683922,81.316421
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,3145,3867,66.057551,81.222432
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,910,923,94.594595,95.945946
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,2654,3208,66.366592,80.220055
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,1653,1688,93.867121,95.854628
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,1525,1591,93.272171,97.308869
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,2143,2204,93.867718,96.539641
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,1680,1739,93.333333,96.611111

In [394]:
school_summary_df["overall passing"]=math_and_reading_pass_students
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,math pass,reading pass,% Passing Math,% Passing Reading,overall passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,3318,4077,66.680064,81.933280,2719
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1749,1803,94.133477,97.039828,1697
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,1946,2381,65.988471,80.739234,1569
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,1871,2172,68.309602,79.299014,1487
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1371,1426,93.392371,97.138965,1330
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,3094,3748,66.752967,80.862999,2481
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,395,411,92.505855,96.252927,381
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,1916,2372,65.683922,81.316421,1561
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,3145,3867,66.057551,81.222432,2549
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,910,923,94.594595,95.945946,871
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,2654,3208,66.366592,80.220055,2119
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,1653,1688,93.867121,95.854628,1583
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,1525,1591,93.272171,97.308869,1487
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,2143,2204,93.867718,96.539641,2068
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,1680,1739,93.333333,96.611111,1626

In [395]:
percent_overall=school_summary_df["overall passing"]/school_summary_df['Total Students']*100

In [396]:
school_summary_df['% Overall Passing']=percent_overall

In [397]:
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,math pass,reading pass,% Passing Math,% Passing Reading,overall passing,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,3318,4077,66.680064,81.933280,2719,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1749,1803,94.133477,97.039828,1697,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,1946,2381,65.988471,80.739234,1569,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,1871,2172,68.309602,79.299014,1487,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1371,1426,93.392371,97.138965,1330,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,3094,3748,66.752967,80.862999,2481,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,395,411,92.505855,96.252927,381,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,1916,2372,65.683922,81.316421,1561,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,3145,3867,66.057551,81.222432,2549,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,910,923,94.594595,95.945946,871,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,2654,3208,66.366592,80.220055,2119,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,1653,1688,93.867121,95.854628,1583,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,1525,1591,93.272171,97.308869,1487,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,2143,2204,93.867718,96.539641,2068,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,1680,1739,93.333333,96.611111,1626,90.333333