In [471]:
# Dependencies and Setup
import pandas as pd

In [472]:
# Files to Load 
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

In [473]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load,index_col="school_name")
student_data = pd.read_csv(student_data_to_load)

In [474]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [547]:
school_data_complete=school_data_complete.sort_values(by="school_name")

In [476]:
#Get all school names 
school_names=school_data_complete["school_name"].unique()

In [477]:
#Calculate the number of schools   
total_number_of_schools=len(school_names)
print(total_number_of_schools)

15

In [478]:
#Calculate the number of students 
total_number_of_students=school_data_complete["student_name"].count()
print(total_number_of_students)

39170

In [479]:
#Calculate total budget
filter_school_df=school_data_complete.drop_duplicates(subset='school_name')
total_budget=filter_school_df["budget"].sum()
print(total_budget)

24649428

In [480]:
#Calculate average math score 
average_math_score=school_data_complete["math_score"].mean()
print(average_math_score)

78.98537145774827

In [481]:
#Calculate average reading score 
average_reading_score=school_data_complete["reading_score"].mean() 
print(average_reading_score)

81.87784018381414

In [482]:
#Calculate number of students with passing math score 
names_math=school_data_complete[(school_data_complete['math_score']>=70)]
number_of_students_with_passing_math_score=len(names_math)
print(number_of_students_with_passing_math_score)

29370

In [483]:
#Calculate percentage of students with passing math score
percent_math_70_or_greater=number_of_students_with_passing_math_score/total_number_of_students*100
print(percent_math_70_or_greater)

74.9808526933878

In [484]:
#Calculate number of students with passing reading score 
names_reading=school_data_complete[(school_data_complete['reading_score']>=70)]
number_of_students_with_passing_reading_score=len(names_reading) 
print(number_of_students_with_passing_reading_score)

33610

In [485]:
#Calculate percentage of students with passing reading score
percent_reading_70_or_greater=number_of_students_with_passing_reading_score/total_number_of_students*100 
print(percent_reading_70_or_greater)

85.80546336482001

In [486]:
#Get the names of students with passing math AND reading
names_math_and_reading=school_data_complete[(school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70)]

In [487]:
#Calculate the number of students with passing math AND reading
number_math_and_reading=len(names_math_and_reading)
print(number_math_and_reading)

25528

In [488]:
#Calculate the percentage of students passing math AND reading  
percent_math_and_reading=number_math_and_reading/total_number_of_students*100
print(percent_math_and_reading)

65.17232575950983

In [489]:
#Create a data frame to hold districy summary details
district_summary_df=pd.DataFrame({"Total Schools":total_number_of_schools,                                 
                                  "Total Students":total_number_of_students,
                                  "Total Budget": total_budget,
                                  "Average Math Score": average_math_score,
                                  "Average Reading Score": average_reading_score,
                                  "% Passing Math": percent_math_70_or_greater,
                                  "% Passing Reading": percent_reading_70_or_greater,
                                  "% Overall Passing": percent_math_and_reading},index=[0])    
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [490]:
school_type=school_data_complete.groupby(by=["school_name"])["type"].max()

In [491]:
#Calculate average math score for each school
average_school_math=school_data_complete.groupby(by=["school_name"])["math_score"].mean()

In [492]:
#Calculate average reading score for each school
average_school_reading=school_data_complete.groupby(by=["school_name"])["reading_score"].mean()

In [493]:
math_score_school_wise_70_above=school_data_complete[(school_data_complete['math_score']>=70) & ((school_data_complete['school_name']=='Bailey High School')|(school_data_complete['school_name']=='Cabrera High School')|(school_data_complete['school_name']=='Figueroa High School')|(school_data_complete['school_name']=='Ford High School')|(school_data_complete['school_name']=='Griffin High School')|(school_data_complete['school_name']=='Hernandez High School')|(school_data_complete['school_name']=='Holden High School')|(school_data_complete['school_name']=='Huang High School')|(school_data_complete['school_name']=='Johnson High School')|(school_data_complete['school_name']=='Pena High School')|(school_data_complete['school_name']=='Rodriguez High School')|(school_data_complete['school_name']=='Shelton High School')|(school_data_complete['school_name']=='Thomas High School')|(school_data_complete['school_name']=='Wilson High School')|(school_data_complete['school_name']=='Wright High School'))]                            
                         
math_passing_students = math_score_school_wise_70_above.groupby(by=["school_name"]).count()
math_passing_students1=math_passing_students[['math_score']]

In [494]:
reading_score_school_wise_70_above=school_data_complete[(school_data_complete['reading_score']>=70) & ((school_data_complete['school_name']=='Bailey High School')|(school_data_complete['school_name']=='Cabrera High School')|(school_data_complete['school_name']=='Figueroa High School')|(school_data_complete['school_name']=='Ford High School')|(school_data_complete['school_name']=='Griffin High School')|(school_data_complete['school_name']=='Hernandez High School')|(school_data_complete['school_name']=='Holden High School')|(school_data_complete['school_name']=='Huang High School')|(school_data_complete['school_name']=='Johnson High School')|(school_data_complete['school_name']=='Pena High School')|(school_data_complete['school_name']=='Rodriguez High School')|(school_data_complete['school_name']=='Shelton High School')|(school_data_complete['school_name']=='Thomas High School')|(school_data_complete['school_name']=='Wilson High School')|(school_data_complete['school_name']=='Wright High School'))]
reading_passing_students = reading_score_school_wise_70_above.groupby(by=["school_name"]).count()
reading_passing_students1=reading_passing_students[['reading_score']]

In [540]:
math_and_reading_pass_students=names_math_and_reading['school_name'].value_counts()

In [541]:
school_capacity=school_data_complete.groupby(by=["school_name"])["size"].max()

In [542]:
total_school_budget=school_data_complete.groupby(by=['school_name'])['budget'].max()

In [543]:
per_student_budget=total_school_budget/school_capacity

In [544]:
school_summary_df=pd.DataFrame({"School Type": school_type,
                                "Total Students": school_capacity,
                                "Total School Budget": total_school_budget,
                                "Per Student Budget":per_student_budget,
                                "Average Math Score": average_school_math, 
                                "Average Reading Score":average_school_reading,},
                               index=['Bailey High School','Cabrera High School','Figueroa High School','Ford High School','Griffin High School','Hernandez High School','Holden High School','Huang High School','Johnson High School','Pena High School','Rodriguez High School','Shelton High School','Thomas High School','Wilson High School','Wright High School'])  
school_summary_df['math pass']=math_passing_students1
school_summary_df['reading pass']=reading_passing_students1
percent_math_pass=school_summary_df['math pass']/school_summary_df['Total Students']*100
school_summary_df['% Passing Math']=percent_math_pass
percent_reading_pass=school_summary_df['reading pass']/school_summary_df['Total Students']*100
school_summary_df['% Passing Reading']=percent_reading_pass

In [545]:
school_summary_df["overall passing"]=math_and_reading_pass_students

In [501]:
percent_overall=school_summary_df["overall passing"]/school_summary_df['Total Students']*100

In [546]:
school_summary_df['% Overall Passing']=percent_overall
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,math pass,reading pass,% Passing Math,% Passing Reading,overall passing,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,3318,4077,66.680064,81.933280,2719,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1749,1803,94.133477,97.039828,1697,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,1946,2381,65.988471,80.739234,1569,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,1871,2172,68.309602,79.299014,1487,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1371,1426,93.392371,97.138965,1330,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,3094,3748,66.752967,80.862999,2481,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,395,411,92.505855,96.252927,381,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,1916,2372,65.683922,81.316421,1561,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,3145,3867,66.057551,81.222432,2549,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,910,923,94.594595,95.945946,871,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,2654,3208,66.366592,80.220055,2119,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,1653,1688,93.867121,95.854628,1583,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,1525,1591,93.272171,97.308869,1487,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,2143,2204,93.867718,96.539641,2068,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,1680,1739,93.333333,96.611111,1626,90.333333

In [504]:
top_performing_schools=school_summary_df.sort_values(by=['% Overall Passing'], ascending=False).head(5)
top_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,math pass,reading pass,% Passing Math,% Passing Reading,overall passing,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1749,1803,94.133477,97.039828,1697,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,1525,1591,93.272171,97.308869,1487,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1371,1426,93.392371,97.138965,1330,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,2143,2204,93.867718,96.539641,2068,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,910,923,94.594595,95.945946,871,90.540541

In [505]:
bottom_performing_schools=school_summary_df.sort_values(by=['% Overall Passing'], ascending=True).head(5)
bottom_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,math pass,reading pass,% Passing Math,% Passing Reading,overall passing,% Overall Passing
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,2654,3208,66.366592,80.220055,2119,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,1946,2381,65.988471,80.739234,1569,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,1916,2372,65.683922,81.316421,1561,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,3094,3748,66.752967,80.862999,2481,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,3145,3867,66.057551,81.222432,2549,53.539172

In [506]:
s_9_df=school_data_complete[school_data_complete['grade'].isin(['9th'])]
s_9_grouped_df=s_9_df.groupby(by=['school_name'])['math_score'].mean()
s_10_df=school_data_complete[school_data_complete['grade'].isin(['10th'])]
s_10_grouped_df=s_10_df.groupby(by=['school_name'])['math_score'].mean()
s_11_df=school_data_complete[school_data_complete['grade'].isin(['11th'])]
s_11_grouped_df=s_11_df.groupby(by=['school_name'])['math_score'].mean()
s_12_df=school_data_complete[school_data_complete['grade'].isin(['12th'])]
s_12_grouped_df=s_12_df.groupby(by=['school_name'])['math_score'].mean()

In [507]:
math_scores_by_grade_df=pd.DataFrame({"9th": s_9_grouped_df,
                                      "10th":s_10_grouped_df,
                                      "11th":s_11_grouped_df,
                                      "12th":s_12_grouped_df,},                                
                                      index=['Bailey High School','Cabrera High School','Figueroa High School','Ford High School','Griffin High School','Hernandez High School','Holden High School','Huang High School','Johnson High School','Pena High School','Rodriguez High School','Shelton High School','Thomas High School','Wilson High School','Wright High School'])  
math_scores_by_grade_df

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [508]:
s_9_df=school_data_complete[school_data_complete['grade'].isin(['9th'])]
s_9_grouped_rd_df=s_9_df.groupby(by=['school_name'])['reading_score'].mean()
s_10_df=school_data_complete[school_data_complete['grade'].isin(['10th'])]
s_10_grouped_rd_df=s_10_df.groupby(by=['school_name'])['reading_score'].mean()
s_11_df=school_data_complete[school_data_complete['grade'].isin(['11th'])]
s_11_grouped_rd_df=s_11_df.groupby(by=['school_name'])['reading_score'].mean()
s_12_df=school_data_complete[school_data_complete['grade'].isin(['12th'])]
s_12_grouped_rd_df=s_12_df.groupby(by=['school_name'])['reading_score'].mean()

In [509]:
reading_scores_by_grade_df=pd.DataFrame({"9th": s_9_grouped_rd_df,
                                      "10th":s_10_grouped_rd_df,
                                      "11th":s_11_grouped_rd_df,
                                      "12th":s_12_grouped_rd_df,},                                
                                      index=['Bailey High School','Cabrera High School','Figueroa High School','Ford High School','Griffin High School','Hernandez High School','Holden High School','Huang High School','Johnson High School','Pena High School','Rodriguez High School','Shelton High School','Thomas High School','Wilson High School','Wright High School']) 
reading_scores_by_grade_df

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [548]:
school_data_complete['Per Student Costing']=school_data_complete['budget']/school_data_complete['size']

In [549]:
grouped_school_data_complete_by_per_student_cost=school_data_complete.groupby(by='Per Student Costing')

In [550]:
average_math_score_by_per_student_cost=grouped_school_data_complete_by_per_student_cost['math_score'].mean()

In [551]:
average_reading_score_by_per_student_cost=grouped_school_data_complete_by_per_student_cost['reading_score'].mean()

In [552]:
name_of_students_passing_math1=school_data_complete[school_data_complete['math_score']>=70]
number_of_students_passing_math_by_per_student_cost=name_of_students_passing_math1.groupby(by=['Per Student Costing']).count()
total_number_of_students_by_per_student_cost=grouped_school_data_complete_by_per_student_cost['Per Student Costing'].count()
percent_pass_math_by_per_student_cost=number_of_students_passing_math_by_per_student_cost['math_score']/total_number_of_students_by_per_student_cost*100

In [553]:
name_of_students_passing_reading1=school_data_complete[school_data_complete['reading_score']>=70]
number_of_students_passing_reading_by_per_student_cost=name_of_students_passing_reading1.groupby(by=['Per Student Costing']).count()
total_number_of_students_by_per_student_cost=grouped_school_data_complete_by_per_student_cost['Per Student Costing'].count()
percent_pass_reading_by_per_student_cost=number_of_students_passing_reading_by_per_student_cost['reading_score']/total_number_of_students_by_per_student_cost*100

In [554]:
name_of_students_passing_math_and_reading1=school_data_complete[(school_data_complete['reading_score']>=70)&(school_data_complete['math_score']>=70)]
number_of_students_passing_math_and_reading_by_per_student_cost=name_of_students_passing_math_and_reading1.groupby(by=['Per Student Costing']).count()
total_number_of_students_by_per_student_cost=grouped_school_data_complete_by_per_student_cost['Per Student Costing'].count()
percent_pass_math_and_reading_by_per_student_cost=number_of_students_passing_math_and_reading_by_per_student_cost['reading_score']/total_number_of_students_by_per_student_cost*100

In [555]:
scores_by_school_spending_df=pd.DataFrame({"Average Math Score":average_math_score_by_per_student_cost,
                                           "Average Reading Score":average_reading_score_by_per_student_cost,
                                           "% Passing Math ":percent_pass_math_by_per_student_cost,
                                           "% Passing Reading":percent_pass_reading_by_per_student_cost,
                                           "% Overall Passing":percent_pass_math_and_reading_by_per_student_cost,}) 
scores_by_school_spending_df.reset_index()

,Per Student Costing,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
1,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
2,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
3,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
4,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
5,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
6,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
7,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
8,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
9,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
10,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
11,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
12,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
13,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
14,655.0,76.629414,81.182722,65.683922,81.316421,53.513884

In [556]:
# Create the bins in which Data will be held
# Bins are 0, 584, 629, 644, 675.   
bins = [0.0, 584.0, 629.0, 644.0, 675.0]

# Create the names for the five bins
group_names = ["<$584.0", "585.0-629.0", "630.0-645.0", "645.0-675.0"]

In [557]:
scores_by_school_spending_df['Spending Ranges(Per Student)']=pd.cut(scores_by_school_spending_df['Per Student Costing'],bins,labels=group_names,include_lowest=True)

KeyError: 'Per Student Costing'

In [ ]:
scores_by_school_spending_df=scores_by_school_spending_df.groupby("Spending Ranges(Per Student)") 
scores_by_school_spending_df.max()

In [558]:
grouped_school_data_complete_by_school_size=school_data_complete.groupby(by='size')

In [559]:
average_math_score_by_school_size=grouped_school_data_complete_by_school_size['math_score'].mean()

In [560]:
average_reading_score_by_school_size=grouped_school_data_complete_by_school_size['reading_score'].mean()

In [561]:
name_of_students_passing_math1=school_data_complete[school_data_complete['math_score']>=70]
number_of_students_passing_math_by_school_size=name_of_students_passing_math1.groupby(by=['size']).count()
total_number_of_students_by_school_size=grouped_school_data_complete_by_school_size['size'].count()
percent_pass_math_by_school_size=number_of_students_passing_math_by_school_size['math_score']/total_number_of_students_by_school_size*100

In [562]:
name_of_students_passing_reading1=school_data_complete[school_data_complete['reading_score']>=70]
number_of_students_passing_reading_by_school_size=name_of_students_passing_reading1.groupby(by=['size']).count()
total_number_of_students_by_school_size=grouped_school_data_complete_by_school_size['size'].count()
percent_pass_reading_by_school_size=number_of_students_passing_reading_by_school_size['reading_score']/total_number_of_students_by_school_size*100

In [563]:
name_of_students_passing_math_and_reading1=school_data_complete[(school_data_complete['reading_score']>=70)&(school_data_complete['math_score']>=70)]
number_of_students_passing_math_and_reading_by_school_size=name_of_students_passing_math_and_reading1.groupby(by=['size']).count()
total_number_of_students_by_school_size=grouped_school_data_complete_by_school_size['size'].count()
percent_pass_math_and_reading_by_school_size=number_of_students_passing_math_and_reading_by_school_size['reading_score']/total_number_of_students_by_school_size*100

In [564]:
scores_by_school_size_df=pd.DataFrame({"Average Math Score":average_math_score_by_school_size,
                                       "Average Reading Score":average_reading_score_by_school_size,
                                       "% Passing Math ":percent_pass_math_by_school_size,
                                       "% Passing Reading":percent_pass_reading_by_school_size,
                                       "% Overall Passing":percent_pass_math_and_reading_by_school_size})            
                                          
scores_by_school_size_df.reset_index()

,size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,427,83.803279,83.814988,92.505855,96.252927,89.227166
1,962,83.839917,84.044699,94.594595,95.945946,90.540541
2,1468,83.351499,83.816757,93.392371,97.138965,90.599455
3,1635,83.418349,83.848930,93.272171,97.308869,90.948012
4,1761,83.359455,83.725724,93.867121,95.854628,89.892107
5,1800,83.682222,83.955000,93.333333,96.611111,90.333333
6,1858,83.061895,83.975780,94.133477,97.039828,91.334769
7,2283,83.274201,83.989488,93.867718,96.539641,90.582567
8,2739,77.102592,80.746258,68.309602,79.299014,54.289887
9,2917,76.629414,81.182722,65.683922,81.316421,53.513884
10,2949,76.711767,81.158020,65.988471,80.739234,53.204476
11,3999,76.842711,80.744686,66.366592,80.220055,52.988247
12,4635,77.289752,80.934412,66.752967,80.862999,53.527508
13,4761,77.072464,80.966394,66.057551,81.222432,53.539172
14,4976,77.048432,81.033963,66.680064,81.933280,54.642283

In [565]:
# Create the bins in which Data will be held
# Bins are 0, 584, 629, 644, 675.   
bins = [0, 1000, 2000, 5000]

# Create the names for the three bins
group_names1 = ["Small(<1000)","Medium(1000-2000)","Large(2000-5000)"]

In [566]:
scores_by_school_size_df['School Size']=pd.cut(scores_by_school_size_df["size"],bins,labels=group_names1,include_lowest=True)
scores_by_school_size_df

KeyError: 'size'

In [567]:
scores_by_school_size_df=scores_by_school_size_df.groupby("School Size") 
scores_by_school_size_df.max()

KeyError: 'School Size'

In [532]:
grouped_school_data_complete_by_type_=school_data_complete.groupby(by='type')

In [533]:
average_math_score_by_type=grouped_school_data_complete_by_type['math_score'].mean()

In [534]:
average_reading_score_by_type=grouped_school_data_complete_by_type['reading_score'].mean()

In [535]:
name_of_students_passing_math1=school_data_complete[school_data_complete['math_score']>=70]
number_of_students_passing_math_by_type=name_of_students_passing_math1.groupby(by=['type']).count()
total_number_of_students_by_type=grouped_school_data_complete_by_type['type'].count()
percent_pass_math_by_type=number_of_students_passing_math_by_type['math_score']/total_number_of_students_by_type*100

In [536]:
name_of_students_passing_reading1=school_data_complete[school_data_complete['reading_score']>=70]
number_of_students_passing_reading_by_type=name_of_students_passing_reading1.groupby(by=['type']).count()
total_number_of_students_by_type=grouped_school_data_complete_by_type['type'].count()
percent_pass_reading_by_type=number_of_students_passing_reading_by_type['reading_score']/total_number_of_students_by_type*100

In [537]:
name_of_students_passing_math_and_reading1=school_data_complete[(school_data_complete['reading_score']>=70)&(school_data_complete['math_score']>=70)]
number_of_students_passing_math_and_reading_by_type=name_of_students_passing_math_and_reading1.groupby(by=['type']).count()
total_number_of_students_by_type=grouped_school_data_complete_by_type['type'].count()
percent_pass_math_and_reading_by_type=number_of_students_passing_math_and_reading_by_type['reading_score']/total_number_of_students_by_type*100

In [538]:
scores_by_school_type_df=pd.DataFrame({"Average Math Score":average_math_score_by_type ,
                                       "Average Reading Score":average_reading_score_by_type,
                                       "% Passing Math ":percent_pass_math_by_type,
                                       "% Passing Reading":percent_pass_reading_by_type,
                                       "% Overall Passing":percent_pass_math_and_reading_by_type},
                                       index=['Charter','District'])

scores_by_school_type_df.index.name='School Type'
                                          
scores_by_school_type_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,90.560932
District,76.987026,80.962485,66.518387,80.905249,53.695878

In [539]:
#Observable trends
#1.Scores by School Spending: The academic performance of students in Math and Reading has actually deteriorated as the spending
# by schools on each student increased.This may suggest the students are spending more time on other activities like music.drama
# sports and are not focused on the academics 
#2.Scores by School Size: The academic performance of students in Math and Reading has deteriorated as the school size increased
# The difference is especially substantial from small/medium to large.This may suggest the students are not getting enough
# personal attention becuase of the high student-teacher ratio in the large schools